* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header sec */

.head {
    width: 100%;
    height: 5.31rem;
    padding: 0 5rem 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu_btn ul {
    display: flex;
    align-items: center;
}

.menu_btn ul li {
    margin: 1.7rem;
    list-style-type: none;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_btn ul li a {
    color: #000;
    text-decoration: none;
}

.hover {
    cursor: pointer;
}

/* main sec */

.main1 {
    width: 100%;
    height: 41.1875rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem;
    gap: 3.5rem;
}

.ig_1 {
    color: #000;
    font-family: Inter;
    font-size: 5.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ig_2 {
    color: var(--700, #4A5568);
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* main sec-2 */

.main2 {
    width: 100%;
    height: 20.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1 {
    width: 73%;
    height: 15.1875rem;
    border: 2px solid sandybrown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
    border: 1px solid #E2E2E2;
    background: #FFF;
    box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
}

.sec1_1 {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.69rem;
    padding-left: 3.5rem;
}

.sec1_1_1 {
    color: var(--800, #2D3748);
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec1_1_2,
.sec1_1_3_1 {
    color: var(--600, #718096);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec1_1_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15.6rem;
}

.sec1_1_3_2 {
    color: var(--800, #2D3748);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec1_2 {
    padding-top: 5px;
}

/* main sec-3 */

.ca {
    width: 100%;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;

}

.ca_1,
.ca_2,
.ca_3 {
    width: 18.6rem;
    height: 23.875rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 4px 4px 0px rgba(192, 189, 189, 0.25);
}

.ca_1_2_1 {
    color: var(--800, #2D3748);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem;
}

.ca_1_2_2 {
    color: var(--600, #718096);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1rem;
}

.ca_1_2_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-family: Inter;
    font-size: 0.75rem;
}

.ca_1_2_3_1 {
    color: var(--600, #718096);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.ca_1_2_3_2 {
    color: var(--800, #2D3748);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 4 */

.hc {
    width: 100%;
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.hc1 {
    width: 89%;
    height: 31.25rem;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background: var(--100, #F7FAFC);
    margin-left: 1.9rem;
}

.a {
    font-size: 2.5rem;
    margin: 1rem;
}

.b {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.c {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.cc {
    margin-right: 25rem;
}

.d {
    width: 100%;
    height: 31.25rem;
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem;
}

.hc1_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
}

/* menu sec-5 */

.btn {
    width: 100%;
    height: 3.4rem;
}

.btnt {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 4rem;
    margin-top: 3rem;
}


.btnt button {
    width: 7.625rem;
    height: 2.3125rem;
    border-radius: 0.3125rem;
    background: #6B46C1;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer section */

hr {
    margin-top: 2rem;
}

.foot {
    width: 100%;
    height: 3.23463rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 2rem;
}

.foot1 {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.foot_logo {
    margin: 1rem;
}